<nav class="navbar">
    <h1><a routerLink="/" class="nav-links">E-commerce</a></h1>
    <div *ngIf="menuType !=='seller'" class="search">
        <input #inputsearch type="text" (keyup)="search($event)" (blur)="hidesearch()" placeholder="search for product" class="inputsearch">
        <button  (click)="searchpage(inputsearch.value)"
        class="btn-btn success search-button">search</button>
        <ul class="suggested-name" *ngIf="searchElement">
            <li *ngFor="let item of searchElement">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="/seller-auth" class="nav-links">seller</a></li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/userAuth">signUp/login</a></li>
        <li><a href="#">Cart<i class="bi-cart-plus"></i>{{cartItem}}</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
        <li><a routerLink="/seller-auth">seller</a></li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/userAuth" class="chip">
            <img src="https://images.91wheels.com/assets/uploads/swatchs/Classic_350_HalyconBlack1653308881.jpg?width=620?q=75" alt="Person" width="96" height="96">
            {{userName}}
          </a></li>
        <li><a (click)="userLogout()" >Logout</a></li>
        <li><a routerLink="my-order">MyOrder</a></li>
        <!-- <li><a href="#">Cart<i class="bi-cart-plus"></i>{{cartItem}}</a></li> -->
         <li><a [routerLink]="cartItem>0?'cart-page':null">Cart({{cartItem}})</a></li>
        </ul>

    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="/seller-home">productList</a></li>
        <li><a routerLink="/addproduct">Add product</a></li>
        <li><a (click)="logout()">logout</a></li>
        <li><a href="#">{{sellerName}}</a></li>
    </ul>
</div>
</nav>